<a href="https://colab.research.google.com/github/aniketborde/Aniket_EDA_Project/blob/main/Aniket_EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
working_directory = '/content/drive/MyDrive/csv data/Global Terrorism Data.csv'
df = pd.read_csv(working_directory,encoding='ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [ ]:
df.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','region_text':'Region',
                   'attacktype1_txt':'Atack_type','targtype1_txt':'Target','nkill':'Killed','nwound':'Wounded',
'summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)

In [ ]:
df.head()

        eventid  Year  Month  Day  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001  1970      7    2  ...        0         0       0      NaN
1  197000000002  1970      0    0  ...        1         1       1      NaN
2  197001000001  1970      1    0  ...       -9         1       1      NaN
3  197001000002  1970      1    0  ...       -9         1       1      NaN
4  197001000003  1970      1    0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [ ]:
DF_new = df[['Year','Month','Day','Country','region','city','latitude','longitude','Atack_type','Killed','Wounded','Target_type','Summary','Group','Target_type','Weapon_type','Motive']]

In [ ]:
DF_new['Casualities']= DF_new['Killed']+df['Wounded']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
DF_new

        Year  Month  Day  ... Weapon_type  Motive Casualities
0       1970      7    2  ...     Unknown     NaN         1.0
1       1970      0    0  ...     Unknown     NaN         0.0
2       1970      1    0  ...     Unknown     NaN         1.0
3       1970      1    0  ...  Explosives     NaN         NaN
4       1970      1    0  ...  Incendiary     NaN         NaN
...      ...    ...  ...  ...         ...     ...         ...
181686  2017     12   31  ...    Firearms     NaN         3.0
181687  2017     12   31  ...  Explosives     NaN         9.0
181688  2017     12   31  ...  Incendiary     NaN         0.0
181689  2017     12   31  ...  Explosives     NaN         0.0
181690  2017     12   31  ...  Explosives     NaN         0.0

[181691 rows x 18 columns]